In [52]:
from datetime import date
from nsepy import get_history
import pandas as pd
import numpy as np

In [53]:
start=date(2018,1,1),
end=date(2018,6,10)

ind = pd.date_range('1/1/2018' , '31/5/2018')

print(index)

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10',
               ...
               '2018-05-22', '2018-05-23', '2018-05-24', '2018-05-25',
               '2018-05-26', '2018-05-27', '2018-05-28', '2018-05-29',
               '2018-05-30', '2018-05-31'],
              dtype='datetime64[ns]', length=151, freq='D')

In [54]:
sbin = get_history(symbol='SBIN',start=date(2018,1,1),
end=date(2018,6,10))

MINDIA = get_history(symbol='3MINDIA',start=date(2018,1,1),
end=date(2018,6,10))

ABAN = get_history(symbol='ABAN',start=date(2018,1,1),
end=date(2018,6,10))

ABCAPITAL = get_history(symbol='ABCAPITAL',start=date(2018,1,1),
end=date(2018,6,10))

KMILES = get_history(symbol='8KMILES',start=date(2018,1,1),
end=date(2018,6,10))

In [33]:
symbols = [sbin,MINDIA,ABAN,ABCAPITAL,KMILES]

In [59]:
def get_close_price(dataframe):
    return dataframe['Close']

In [80]:
df2 = get_close_price(MINDIA)

In [81]:
df2.to_csv('MINDIA.csv')

In [82]:
data = pd.read_csv('data.csv')

In [84]:
data_normed=data.copy()

In [88]:
data_normed.set_index('Date',inplace=True)

In [94]:
data_normed.iloc[0]

SBIN           307.10
8kmiles        901.95
ABCAPITAL      186.40
ABAN           201.30
3Mindia      19264.55
Name: 1/1/2018, dtype: float64

In [95]:
data_no = data_normed / data_normed.iloc[0]

In [106]:
data_no.head()
allocdf=[.25,.25,.25,.25,.25]

In [107]:
data_alloc=data_no * allocdf
data_alloc.head()

In [110]:
data_alloc.head()
start_val=100000

In [111]:
pos_dataframe = data_alloc * start_val

In [114]:
pos_dataframe.head()
pos_dataframe['Daily_total'] = pos_dataframe.sum(axis = 1 )

In [116]:
port_val= pos_dataframe['Daily_total']

In [124]:
port_val.head() 
cum_ret = port_val[-1]/port_val[0]-1
print ('Cumulative return is :'.format(cum_ret) )

Cumulative return is :

In [126]:
print (cum_ret)

-0.23056267005421338

In [128]:
print(port_val[-1])

96179.66624322333

Date
6/4/2018    95668.073133
6/5/2018    93152.819012
6/6/2018    93956.891841
6/7/2018    95173.890230
6/8/2018    96179.666243
Name: Daily_total, dtype: float64